@{
    ViewData["Title"] = "SensoriDettaglio";
}

<h1>Dettaglio Sensori</h1>

<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-success text-white">
            <th>TerrenoId</th>
            <th>Mappale</th>
            <th>Foglio</th>
            <th>IdSensore</th>
            <th>StatoSensore</th>
            <th>TipoSensore</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var terr in Model)
        {
            <tr>
                <td>@terr.TerrenoId</td>
                <td>@terr.Mappale</td>
                <td>@terr.Foglio</td>
                <td>@terr.Id</td>
                <td>@terr.StatoSensore</td>
                <td>@terr.TipoSensore</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@terr.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@terr.Id">Details</a> |
                    @if (terr.Ruolo == "Agricoltore")
                    {
                        <a asp-action="Delete" asp-route-id="@terr.Id">|Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
