@{
    ViewData["Title"] = "SensoriDettaglio";
}

<h1>Dettaglio Sensori</h1>

<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-success text-white">
            <th>TerrenoId</th>
            <th>Mappale</th>
            <th>Foglio</th>
            <th>IdSensore</th>
            <th>StatoSensore</th>
            <th>TipoSensore</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var terr in Model)
        {
            <tr>
                <td>@terr.TerrenoId</td>
                <td>@terr.Mappale</td>
                <td>@terr.Foglio</td>
                <td>@terr.Id</td>
                <td>
                    @if (terr.StatoSensore)
                    {
                        <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                    }
                    else
                    {
                        <input class="check-box" disabled="disabled" type="checkbox">
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@terr.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@terr.Id">Details</a> |
                    @if (terr.Ruolo == "Agricoltore")
                    {
                        <a asp-action="Delete" asp-route-id="@terr.Id">|Delete </a>
                    }
                </td>
                <td>
                    <a class="btn btn-outline-success" style="background-color: #9FE2BF; color: #000;" asp-controller="Misuraziones"
                   asp-action="Index" asp-route-CodSensore="@terr.Id">Misurazioni</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn action-button text-white" asp-controller="Terrenoes" asp-action="VisualizzaTerreno" asp-route-TerrenoId="@ViewData["IdTerreno"]" style="background-color: dodgerblue">Ritorna indietro</a>
</div>