
@{
    ViewData["Title"] = "VisualizzaTerreno";
}
<style>
    .tableTerr {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>

<h1>Pagina del Terreno</h1>

<div id="main-container">
    <div class="row row-table" id="content-container">
        <div class="col" id="info-container">
            <table class="table table-striped" id="tableTerr">
                <tbody>
                    <tr>
                        <th>Foglio</th>
                        <td>@Model.Foglio</td>
                    </tr>
                    <tr>
                        <th>Mappale</th>
                        <td>@Model.Mappale</td>
                    </tr>
                    <tr>
                        <th>Ettari</th>
                        <td>@Model.Ettari</td>
                    </tr>
                    <tr>
                        <th>Citta</th>
                        <td>@Model.Citta</td>
                    </tr>
                    <tr>
                        <th>TipoColtura</th>
                        <td>@Model.TipoColtura</td>
                    </tr>
                    <tr>
                        <th>TipoTerreno</th>
                        <td>@Model.TipoTerreno</td>
                    </tr>
                    <tr>
                        <th>Collaboratore</th>
                        <td>@string.Join(" , ", Model.Collaboratore)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Bottone Elimina -->
        <div class="col">
            <div id="delete-button-container">
                @if (Model.Ruolo == "Agricoltore") {
                <div class="row row-table">
                    <button class="action-button" id="delete-button" style="background-color: #4CAF50; margin-bottom: 10px;">Elimina</button>
                </div>
                }
                <div class="row row-table">
                    <!--<button class="action-button" id="aggiungi-attuatore" style="background-color: orange;">Aggiungi Attuatore</button>-->
                    <a class="btn action-button" asp-controller="Attuatores" asp-action="Create" asp-route-TerrenoId="@Model.TerrenoId">Aggiungi attuatore</a>
                </div>
                <div>
                    <a asp-controller="Attuatores" asp-action="Index">Lista attuatori</a>
                </div>

                <div class="row row-table">
                    <button class="action-button" id="aggiungi-sensore" style="background-color: orange;">Aggiungi Sensore</button>
                </div>
                <div>
                    <a asp-controller="Sensores" asp-action="Index">Lista sensoria></a>
                </div>
               
            </div>
        </div>
    </div>

    <div id="buttons-container">
        <!-- Bottoni Attuatori e Sensori -->
        <a class="btn action-button" asp-controller="Attuatores" asp-action="AttDettaglio" asp-route-TerrenoId="@Model.TerrenoId">Attuatori</a>

        <a class="btn action-button" asp-controller="Sensores" asp-action="SensoriDettaglio" asp-route-TerrenoId="@Model.TerrenoId">Sensori</a>
    </div>
</div>
