@model App_Progetto.Models.Attuatore

@{
    ViewData["Title"] = "Details";
}


<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/stile.css" />
</head>

<h1>Dettagli Attuatore</h1>

<div>
    <h4>Attuatore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAttuatore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAttuatore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attivazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attivazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terreno.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
</div>
