
@{
    ViewData["Title"] = "HomeTerreno";
}
@if (User.IsInRole("Agricoltore"))
{
    <div class="row-table-create text-right">
        <a class="btn action-button-create" asp-controller="Terrenoes" asp-action="Create" style="background-color: #4CAF50; margin-bottom: 10px;">Aggiungi terreno</a>
    </div>

    <h2>Visualizza Miei Terreni (da Agricoltore)</h2>

    <table class="table table-striped mt-4">
        <thead>
            <tr class="bg-success text-white">
                <th>Foglio</th>
                <th>Mappale</th>
                <th>Ettari</th>
                <th>Città</th>
                <th>Coltura</th>
                <th>Tipo Terreno</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var terr in Model)
            {
                @if ("Agricoltore" == terr.Ruolo)
                {
                    <tr>
                        <td>@terr.Foglio</td>
                        <td>@terr.Mappale</td>
                        <td>@terr.Ettari</td>
                        <td>@terr.Citta</td>
                        <td>@terr.TipoColtura</td>
                        <td>@terr.TipoTerreno</td>
                        <td>
                            <a class="btn btn-outline-success" style="background-color: #9FE2BF; color: #000;" asp-controller="Terrenoes"
                            asp-action= "VisualizzaTerreno" asp-route-TerrenoId="@terr.TerrenoId">Visualizza</a>
                        </td>

                    </tr>
                }

            }
        </tbody>
        </table>
} 
@if (User.IsInRole("Collaboratore"))
{
        <h2>Visualizza Terreni Gestisco (da Collaboratore)</h2>

        <table class="table table-striped mt-4">
            <thead>
            <tr class="bg-success text-white">
                    <th>Foglio</th>
                    <th>Mappale</th>
                    <th>Ettari</th>
                    <th>Città</th>
                    <th>Coltura</th>
                    <th>Tipo Terreno</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var terr in Model)
            {@if ("Collaboratore" == terr.Ruolo)
                {
                    <tr>
                        <td>@terr.Foglio</td>
                        <td>@terr.Mappale</td>
                        <td>@terr.Ettari</td>
                        <td>@terr.Citta</td>
                        <td>@terr.TipoColtura</td>
                        <td>@terr.TipoTerreno</td>
                        <td>
                            <a class="btn btn-outline-success" style="background-color: #9FE2BF; color: #000;" asp-controller="Terrenoes"
                            asp-action="VisualizzaTerreno" asp-route-TerrenoId="@terr.TerrenoId">Visualizza</a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    }

