@model IEnumerable<App_Progetto.Models.Terreno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mappale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foglio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ettari)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CittaTerreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoColtura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoTerreno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mappale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foglio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ettari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CittaTerreno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoColtura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTerreno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
